{% extends 'core/base.html' %}

{% block title %}Accept invitation | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Хяналтын самбар</a></li>
            <li><a href="{% url 'myaccount' %}">Аккаунт</a></li>
            <li class="is-active"><a href="{% url 'accept_invitation' %}" aria-current="page">Урилга хүлээн авах</a></li>
        </ul>
    </nav>
    <div style="width:1000px; height:400px; background-color:white; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:40px; display:flex">

    <div class="columns">
        <div class="column is-4" style="width:400px">
            <h1 class="title">Урилга хүлээн авах</h1>

            <form method="post" action=".">
                {% csrf_token %}

                <div class="field">
                    <label>Нууц код (И-мэйлд ирсэн нууц код оруулна уу)</label>

                    <div class="control">
                        <input style="margin-top:10px; box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px; margin-bottom:10px" type="text" name="code" id="id_code" class="input is-rounded" placeholder="Нууц код">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-info is-rounded">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="/media/uploads/avatars/welcome.avif" style="width:380px; height:340px; margin-left:150px; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; ">

    </div>
{% endblock %}