{% extends 'core/base.html' %}

{% block title %}Edit profile | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Хяналтын самбар</a></li>
            <li><a href="{% url 'myaccount' %}">Аккаунт</a></li>
            <li class="is-active"><a href="{% url 'edit_profile' %}" aria-current="page">Профайл засах</a></li>
        </ul>
    </nav>
<div style="background-color:white; height:100%; width:90%; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:30px; display:flex " >   
    <div class="columns" >
        <div class="column is-4" style="width:350px; margin-left:50px">
            <h1 class="title">Профайл</h1>

            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}

                <div class="field">
                    <label>Нэр</label>

                    <div class="control">
                        <input type="text" placeholder="Нэр" name="first_name" id="first_name" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px;" class="input is-rounded"{% if request.user.first_name %} value="{{ request.user.first_name }}"{% endif %}>
                    </div>
                </div>

                <div class="field">
                    <label>Овог</label>

                    <div class="control">
                        <input type="text" placeholder="Овог" name="last_name" id="last_name" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px;" class="input is-rounded"{% if request.user.last_name %} value="{{ request.user.last_name }}"{% endif %}>
                    </div>
                </div>

                <div class="field">
                    <label>И-мэйл</label>

                    <div class="control">
                        <input type="text" placeholder="И-мэйл" name="email" id="email" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px;" class="input is-rounded"{% if request.user.email %} value="{{ request.user.email }}"{% endif %}>
                    </div>
                </div>

                <div class="field">
                    <label>Зураг</label>

                    <figure class="image is-64x64">
                        <img src="{{ request.user.userprofile.get_avatar }}" class="is-rounded" style=" box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px; ">
                    </figure>

                    <div class="control mt-2" >
                        <input type="file" name="avatar" id="id_avatar" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px; margin-top:25px" class="input is-rounded" >
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-success" style="border-radius:15px; background-color:#41BEE7">Хадгалах</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="/media/uploads/avatars/3d.avif" style="width:380px; height:480px; margin-left:150px; margin-top:10px; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; ">

</div>
{% endblock %}