
{% extends 'core/base.html' %}


{% block title %}My account | {% endblock %}

{% block content %}
{% load compress %}
{% load static%}
{% compress css %}
<link type="text/x-scss" rel="stylesheet" href="{% static 'css/button.scss' %}"/>
{% endcompress %}
<div style="width:100%">
    <nav class="breadcrumb" aria-label="breadcrumbs" style="margin-top:5px">
        <ul>
            <li><a href="#">Хяналтын самбар</a></li>
            <li class="is-active"><a href="{% url 'myaccount' %}" aria-current="page">Аккаунт</a></li>
        </ul>
    </nav>
    <div style="width:1000px; background-color:white; margin-bottom:30px; border-radius:15px; align-items:center; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;"> 

    <div class="columns" style="margin-left:5px">
        <div class="column is-6">
            <div class="media mb-4">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ user.userprofile.get_avatar }}" class="is-rounded">
                    </figure>
                </div>

                <div class="media-content">
                    <p class="title is-3">{% firstof user.get_full_name user.username %}</p>
                    <p class="subtitle is-6">{{ user.email }}</p>
                </div>
            </div>

            <a href="{% url 'edit_profile' %}" class="button is-info" style="margin-top:10px; border-radius:15px; background-color:#41BEE7">
                <span class="icon"><i class="far fa-edit"></i></span>
                <span>Засах</span></a>
            <a href="{% url 'logout' %}" class="button is-danger " style="margin-top:10px; border-radius:15px">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span>Гарах</span>
            </a>
        </div>
    </div>
</div>
<b style="font-size:20px; margin-left:5px">Хүсэлтүүд</b>
<div style="width:1000px; height:170px; background-color:white; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; margin-bottom:20px; border-radius:15px">
    {% if invitations %}
    <div class="card" style="width:100%; height:150px; margin-bottom:20px">
        <header class="card-header">
          <p class="card-header-title">
            Доорх "Team"-с хүсэлт ирсэн байна
          </p>
        </header>
        <footer class="card-footer">
        {% for invitation in invitations %}
          <a href="{% url 'accept_invitation' %}" class="card-footer-item" style="margin-top:10px">Манай "{{ invitation.team.title }}" ор</a>
        {% endfor %}

        </footer>
      </div>
    {% endif %}
</div>
<b style="font-size:20px; margin-left:5px;">Teams</b>
<div style="background-color:white; height:100%; width:1000px; padding:30px; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
    <div class="columns is-three-quarters-mobile"  style="display:block; ">    
        {% if active_team %}
            <div class="column is-4" style="width:800px;">
                <div class="notification has-background-success-light" style="border-radius:15px; background-color:#70CFEE; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
                    <h3 class="is-size-5">{{ active_team.title }}{% if active_team.created_by == request.user %}(Үүсгэгч){% else %}(Member){% endif %}</h3>
                
                    <h3 class="is-size-6">SHOW PLAN HERE</h3>

                    <hr>
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                        </span>
                        <a href="{% url 'team:team' active_team.id %}"><span class="button-text">Дэлгэрэнгүй</span></a>
                    </button>
                    {% if active_team.created_by == request.user %}
                        <!--<a href="#" class="button is-info">Invite users</a> -->
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% for team in teams %}
            <div class="column is-4" style="width:800px; border-radius:15px">
                <div class="notification" style="border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
                    <h3 class="is-size-5">{{ team.title }}{% if team.created_by == request.user %}(Үүсгэсэн){% else %}(Гишүүн){% endif %}</h3>
                
                    <h3 class="is-size-6">SHOW PLAN HERE</h3>

                    <hr>
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                        </span>
                    <a href="{% url 'team:team' team.id %}"><span class="button-text">Дэлгэрэнгүй</span></a>
                    </button>
                    <div class="card" style="width:400px; margin-top:-50px; margin-left:250px; border-radius:30px;">
                        <footer class="card-footer">
                          <a href="{% url 'team:activate_team' team.id %}" class="card-footer-item" style="text-decoration:none">Идэвхижүүлэх</a>
                          <a href="{% url 'team:delete' team.id %}" class="card-footer-item" style="text-decoration:none">Устгах</a>
                        </footer>
                      </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>  
<div class="modal" >
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>
  <script>
    const modalButton = document.getElementById('my-modal-button');
    const modal = document.querySelector('.modal');
    const closeModal = modal.querySelector('.modal-close');

    modalButton.addEventListener('click', function() {
      modal.classList.add('is-active');
    });
    
    closeModal.addEventListener('click', function() {
      modal.classList.remove('is-active');
    });
  </script>
{% endblock %}