{% extends "Gantt/base.html" %}


{% block content %}

    {% autoescape off %}
        <div style="background:white; width:1000px; height:530px; margin-top:35px; border-radius:15px; position:absolute; left:450px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
        <h6 style="position:absolute">Gantt</h6>
        {{ plot_div | safe}}        
        </div>
    {% endautoescape %}

{% endblock content %}
