{% extends 'core/base.html' %}

{% block title %}Edit task | {% endblock %}

{% block content %}
    <div id="project-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Хяналтын самбар</a></li>
                <li><a href="{% url 'project:projects' %}">Төслүүп</a></li>
                <li><a href="{% url 'project:project' project.id %}">{{ project.title }}</a></li>
                <li class="is-active"><a href="{% url 'project:edit_task' project.id task.id %}" aria-current="page">Даалгавар засах</a></li>
            </ul>
        </nav>
        <div style="width:1000px; height:550px; background-color:white; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:40px; ">

        <div class="columns">
            <div class="column">
                <h1 class="title">Даалгавар засах</h1>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Нэр</label>

                        <div class="control">
                            <input type="text" name="title" id="id_title" class="input" value="{{ task.title }}">
                        </div>
                        <label>Эхлэх хугацаа</label>
                        <div class="field">
                            <input type="date" name="task_startdate" id="id_task_startdate" class="input" value="{{ task.task_startdate}}">
                        </div> 
                        <label>Дуусах хугацаа</label>
                        <div class="field">
                            <input type="date" name="task_enddate" id="id_task_enddate" class="input" value="{{task.task_enddate}}">
                        </div>
                        <label>Файл</label>
                        <div class="field">
                            <input type="file" name="file" id="id_file" class="input" value="{{task.file}}">
                        </div>
                    </div>

                    <div class="field">
                        <label>Статус</label>

                        <div class="control">
                            <div class="select">
                                <select name="status" id="id_status">
                                    <option value="Todo"{% if task.status == 'Todo' %} selected{% endif %}>Шинэ</option>
                                    <option value="done"{% if task.status == 'done' %} selected{% endif %}>Дууссан</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-info">Хадгалах</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}