{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}Projects | {% endblock %}

{% block content %}
    <div id="projects-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Хяналтын самбар</a></li>
                <li class="is-active"><a href="#" aria-current="page">Төслүүд</a></li>
            </ul>
        </nav>
    <div style="background-color:white; height:100%; width:90%; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:30px" >   

        <div class="columns">
            <div class="column is-4">
                <h1 class="title">Төслүүд</h1>

                    <a @click="showAddProjectModal = !showAddProjectModal" class="button is-link is-outlined">Төсөл үүсгэх</a>
   
            </div>
        </div>

        <div class="columns">
            {% for project in projects %}
                <div class="column is-3">
                    <div class="notification" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; ">
                        <h2 class="is-size-5">{{ project.title }}</h2>
                        <p class="is-size-7">Registered time: {{ project.registered_time|format_minutes }}</p>
                        <p class="is-size-7">Tasks: {{ project.num_tasks_Todo }}</p>

                        <hr>

                        <a href="{% url 'project:project' project.id %}" class="button is-info">Дэлгэрэнгүй</a>
                    </div>
                </div>
            {% empty %}
                <div class="column is-3">
                    <div class="notification">
                        Төсөл байхгүй байна
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="modal" :class="{'is-active': showAddProjectModal}">
            <div class="modal-background"></div>

            <form method="post" action="." @submit="validateForm">
                {% csrf_token %}

                <div class="modal-card">
                    <div class="modal-card-head">
                        <p class="modal-card-title">Төсөл үүсгэх</p>
                    </div>

                    <div class="modal-card-body">
                        <div class="field">
                            <label>Нэр</label>
                            <div class="control">
                                <input type="text" name="title" id="id_title" v-model="title" class="input">
                            </div>
                        </div>
                        <div class="notification is-danger" v-if="showError">
                            The title field is missing!
                        </div>
                    </div>

                    <footer class="modal-card-foot">
                        <button class="button is-success">Submit</button>
                        <button class="button" @click="showAddProjectModal = !showAddProjectModal">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const ProjectsApp = {
            data() {
                return {
                    showAddProjectModal: false,
                    title: '',
                    showError: false
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                validateForm(e) {
                    if (this.title) {
                        return true
                    }

                    this.showError = true

                    e.preventDefault()

                    return false
                }
            }
        }

        Vue.createApp(ProjectsApp).mount('#projects-app')
    </script>
{% endblock %}