{% extends 'core/base.html' %}

{% block title %}{{ project.title }} | {% endblock %}

{% block content %}
    <div id="project-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Хяналтын самбар</a></li>
                <li><a href="{% url 'project:projects' %}">Төслүүд</a></li>
                <li class="is-active"><a href="{% url 'project:project' project.id %}" aria-current="page">{{ project.title }}</a></li>
            </ul>
        </nav>

        <div class="columns">
            <div class="column">
                <h1 class="title">{{ project.title }}</h1>

                <div class="buttons">
                    <a @click="showAddTaskModal = !showAddTaskModal" title="Даалгавар нэмэх" class="button is-link is-focused is-active">Даалгавар нэмэх</a>
                    <a href="{% url 'project:edit_project' project.id %}" title="Төсөл засах" class="button is-info is-active">Төсөл засах</a>
                    <a href="{% url 'project:chart' project.id %}" title="Гантт чарт" class="button is-primary is-active">Ганнт чарт</a>
                    <a href="#" class="button is-primary" title="Тун удахгүй" disabled>Board view</a>
                </div>
            </div>
        </div>

        {% if not tasks_Todo and not tasks_done %}
            <div class="columns">
                <div class="column is-3">
                    <div class="notification">
                        <p>Даалгавар байхгүй байна</p>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="columns is-multiline" style="">
            {% if tasks_Todo %}
                <div class="column is-12">
                    <h2 class="is-size-4">Шинэ</h2>
                </div>

                {% for task in tasks_Todo %}
                    <div class="column is-4">
                        <div class="notification" style="background-color:white; margin-right:25px; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
                            <h3 class="is-size-5">{{ task.title }}</h3>

                            <p>Registered time: {{ task.registered_time }}</p>

                            <hr>

                            <a href="{% url 'project:task' project.id task.id %}" class="button is-link is-light">Дэлгэрэнгүй</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if tasks_done %}
                <div class="column is-12">
                    <h2 class="is-size-4">Дууссан</h2>
                </div>

                {% for task in tasks_done %}
                    <div class="column is-4">
                        <div class="notification" style="background-color:white; border-radius:15px; margin-right:20px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
                            <h3 class="is-size-5">{{ task.title }}</h3>

                            <p>Registered time: {{ task.registered_time }}</p>

                            <hr>

                            <a href="{% url 'project:task' project.id task.id %}" class="button is-link">Дэлгэрэнгүй</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="modal" :class="{'is-active': showAddTaskModal }">
            <div class="modal-background"></div>

            <form method="POST" action="." @submit="validateForm">
                {% csrf_token %}

                <div class="modal-card">
                    <div class="modal-card-head">
                        <p class="modal-card-title ">Даалгавар нэмэх</p>
                    </div>

                    <div class="modal-card-body">
                        <div class="field">
                            <label>Нэр</label>
                            <div class="control">
                                <input placeholder="Enter your task name" type="text" name="title" id="id_title" v-model="title" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label>Эхлэх хугацаа</label>
                            <div class="control">
                                <input type="date" name="task_startdate" id="id_task_startdate" v-model="task_startdate" class="input">
                            </div> 
                        </div>
                        <div>
                            <label>Дуусах хугацаа</label>
                            <div class="control">
                                <input type="date" name="task_enddate" id="id_task_enddate" v-model="task_enddate" class="input">
                            </div>
                        </div>
                        <div>
                            <label>Файл</label>
                            <div class="control">
                                <input type="file" name="file" id="id_file" v-model="file" class="input">
                            </div>
                        </div>
                        <div class="notification is-danger" v-if="showError">
                            Нэрээ оруулна уу!
                        </div>
                    </div>

                    <footer class="modal-card-foot">
                        <button class="button is-info">Хадгалах</button>
                        <button class="button is-info is-outlined" @click="showAddTaskModal = !showAddTaskModal">Болих</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const ProjectApp = {
            data() {
                return {
                    showAddTaskModal: false,
                    title: '',
                    showError: false
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                validateForm(e) {
                    if (this.title) {
                        return true
                    }

                    this.showError = true

                    e.preventDefault()

                    return false
                }
            }
        }

        Vue.createApp(ProjectApp).mount('#project-app')
    </script>
{% endblock %}