{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}{{ task.title }} | {% endblock %}

{% block content %}
    <div id="project-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Хяналтын самбар</a></li>
                <li><a href="{% url 'project:projects' %}">Төслүүд</a></li>
                <li><a href="{% url 'project:project' project.id %}">{{ project.title }}</a></li>
                <li class="is-active"><a href="{% url 'project:task' project.id task.id %}" aria-current="page">{{ task.title }}</a></li>
            </ul>
        </nav>
        <div style="background-color:white; height:100%; padding:50px; border-radius:15px; margin-right:60px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;">
            <div class="columns" style="display:flex">
                <div class="column">
                    <h1 class="title">{{ task.title }} ({{ task.get_status_display }})</h1>
                    <span class="tag is-link is-light">{{task.task_startdate}}</span>
                    <span class="tag is-link is-light">{{task.task_enddate}}</span> <br>
                    <a href="{% url 'project:edit_task' project.id task.id %}" class="button is-info" style="margin-top:30px">Засах</a>
                    <a href="DownloadData/?task_id={{task.id}}" class="button is-info" style="margin-top:30px">Хэвлэх</a>

                    <!--<a href="#">{{ task.file }}</a> -->
                    <h2 class="subtitle mt-6">Цаг оруулах</h2>

                    <form method="post" action=".">
                        {% csrf_token %}

                        <div class="field is-grouped">
                            <div class="control">
                                <div class="select">
                                    <select name="hours">
                                        <option value="0">0цаг</option>
                                        {% for i in "x"|rjust:"10" %}
                                            <option value="{{ forloop.counter }}">{{ forloop.counter }}цаг</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="control">
                                <div class="select">
                                    <select name="minutes">
                                        <option value="0">0мин</option>
                                        {% for i in "x"|rjust:"59" %}
                                            <option value="{{ forloop.counter }}">{{ forloop.counter }}m</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Он сар</label>

                            <div class="control">
                                <input type="date" id="id_date" name="date" class="input" style="width:400px" value="{{ today|date:'Y-m-d' }}" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <img src="/media/uploads/avatars/project.jpg" style="width:500px; height:400px; margin-top:40px; border-radius:15px; margin-right:20px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; ">

            </div>

            <div class="columns">
                <div class="column is-12 is-rounded">
                    <hr>

                    <h2 class="subtitle">Зарцуулсан хугацаа</h2>

                    {% if task.entries.all %}
                        <table class="table is-fullwidth" style="text-align: left;">
                            <thead>
                                <tr style="background-color:#41BEE7;">
                                    <th style="color:white">Он сар</th>
                                    <th style="color:white">Хэрэглэгч</th>
                                    <th style="color:white">Time</th>
                                    <th style="color:white"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for entry in task.entries.all %}
                                    <tr>
                                        <td>{{ entry.created_at }}</td>
                                        <td><a class="button is-link is-light" style="margin-bottom:10px; margin-top:10px">{% firstof entry.created_by.get_full_name entry.created_by.username %}</a></td>
                                        <td>{{ entry.minutes|format_minutes }}</td>
                                        <td>
                                            <a class="button is-link is-outlined" href="{% url 'project:edit_entry' project.id task.id entry.id %}">Засах</a>
                                            <a class="button is-danger is-outlined" href="{% url 'project:delete_entry' project.id task.id entry.id %}">Устгах</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th colspan="2">Нийт</th>
                                    <th colspan="2">{{ task.registered_time|format_minutes }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    {% else %}
                        <p>No entries yet...</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}