{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}Dashboard | {% endblock %}

{% block content %}
    <div class="columns is-multiline">
        <div class="column is-6">
            <div class="notification" style="background-color:white; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; border-radius:15px ">
                <h2 class="subtitle">Таны цаг {% if num_days is 0 %}өнөөдрийн{% else %}{{ date_user|date:"Y-m-d" }}{% endif %}</h2>
            
                {% if date_entries %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr style="background-color:#41BEE7;">
                                <th style="color:white">Даалгавар</th>
                                <th style="color:white">Төсөл</th>
                                <th style="color:white">Цаг</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entry in date_entries %}
                            <tr>
                                <td>{{ entry.task.title }}</td>
                                <td>{{ entry.project.title }}</td>
                                <td>{{ entry.minutes|format_minutes }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="2">Нийт</td>
                                <td>{{ time_for_user_and_date|format_minutes }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p class="block">No entries today...</p>
                {% endif %}

                <a href="?num_days={{ num_days|add:'1' }}" class="button is-link is-inverted">Өмнөх</a>
                {% if num_days > 0 %}
                <a href="?num_days={{ num_days|add:'-1' }}" class="button is-link is-inverted">Дараагийн</a>
                {% endif %}
            </div>
        </div>

        <div class="column is-6">
            <div class="notification" style="background-color:white; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; border-radius:15px">
                <h2 class="subtitle">Таны цаг {% if user_num_months is 0 %}энэ сард{% else %}{{ user_month|date:"Y-m" }}{% endif %}</h2>
            
                {% if time_for_user_and_month %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr style="background-color:#41BEE7">
                                <th style="color:white">Төсөл</th>
                                <th style="color:white">Цаг</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for project in all_projects %}
                                {% if project.time_for_user_and_project_and_month > 0 %}
                                <tr>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.time_for_user_and_project_and_month|format_minutes }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>Нийт</td>
                                <td>{{ time_for_user_and_month|format_minutes }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p class="block">No entries this month...</p>
                {% endif %}

                <a href="?user_num_months={{ user_num_months|add:'1' }}" class="button is-link is-inverted">Өмнөх</a>
                {% if user_num_months > 0 %}
                <a href="?user_num_months={{ user_num_months|add:'-1' }}" class="button is-link is-inverted">Дараагийн</a>
                {% endif %}
            </div>
        </div>

        <div class="column is-6">
            <div class="notification" style="background-color:white; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; border-radius:15px">
                <h2 class="subtitle">Your untracked entries</h2>

                <table class="table is-fullwidth" style="text-align: left;">
                    <thead>
                        <tr style="background-color:#41BEE7;">
                            <th style="color:white">Эхэлсэн</th>
                            <th style="color:white">Цаг</th>
                            <th style="color:white">Статус</th>
                            <th style="color:white">Нэмэх</th>
                            <th style="color:white">Устгах</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for entry in untracked_entries %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>
                                    {% if entry.minutes == 0 %}
                                        {{ entry.minutes_since|format_minutes }}
                                    {% else %}
                                        {{ entry.minutes|format_minutes }}
                                    {% endif %}
                                </td>
                                <td>{% if entry.minutes == 0 %}In progress{% else %}Untracked{% endif %}</td>
                                <td><a href="{% url 'project:track_entry' entry.id %}" style="text-decoration:none;" class="button is-link is-outlined">Нэмэх</a></td>
                                <td><a href="{% url 'project:delete_untracked_entry' entry.id %}" class="button is-danger is-outlined">Устгах</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if request.user == team.created_by %}
            <div class="column is-6">
                <div class="notification" style="background-color:white; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;border-radius:15px">
                    <h2 class="subtitle">Таны баг {% if team_num_months is 0 %}энэ сард{% else %}{{ team_month|date:"Y-m" }}{% endif %}</h2>
                
                    {% if time_for_team_and_month > 0 %}
                        <table class="table is-fullwidth" style="text-align: left;">
                            <thead>
                                <tr style="background-color:#41BEE7">
                                    <th style="color:white">Нэр</th>
                                    <th style="color:white">Цаг</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td><a href="{% url 'view_user' member.id %}" class="button is-link is-light">{% firstof member.get_full_name member.username %}</a></td>
                                        <td>{{ member.time_for_user_and_team_and_month|format_minutes }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No registred time for your team this month...</p>
                    {% endif %}

                    <a href="?team_num_months={{ team_num_months|add:'1' }}" class="button is-link is-inverted">Өмнөх</a>
                    {% if team_num_months > 0 %}
                    <a href="?team_num_months={{ team_num_months|add:'-1' }}" class="button is-link is-inverted">Дараагийн</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="columns is-multiline" >
        <div class="column is-12">
            <h2 class="subtitle">Шинэ төслүүд</h2>
        </div>

        {% for project in projects %}
            <div class="column is-3">
                <div class="notification" style="background-color:white; box-shadow: 3px 3px 3px 3px rgba(1,1,1,.05); border-radius:15px">
                    <h2 class="is-size-5">{{ project.title }}</h2>

                    <p class="is-size-7">Registered time: {{ project.registered_time|format_minutes }}</p>
                    <p class="is-size-7">Tasks: {{ project.num_tasks_Todo }}</p>

                    <hr>

                    <a href="{% url 'project:project' project.id %}" class="button is-info">Дэлгэрэнгүй</a>
                </div>
            </div>
        {% empty %}
            <div class="column is-3">
                <div class="notification">
                    <p>No projects yet...</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}