@import url("https://fonts.googleapis.com/css?family=Mukta:700");
/* line 11, static/css/button.scss */
* {
  box-sizing: border-box; }
  /* line 13, static/css/button.scss */
  *::before, *::after {
    box-sizing: border-box; }

/* line 18, static/css/button.scss */
body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 70vh;
  background: #f3f8fa; }

/* line 30, static/css/button.scss */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit; }
  /* line 42, static/css/button.scss */
  button.learn-more {
    width: 12rem;
    height: auto; }
    /* line 45, static/css/button.scss */
    button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #282936;
      border-radius: 1.625rem; }
      /* line 54, static/css/button.scss */
      button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; }
        /* line 61, static/css/button.scss */
        button.learn-more .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none; }
          /* line 67, static/css/button.scss */
          button.learn-more .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg); }
    /* line 81, static/css/button.scss */
    button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center; }
  /* line 97, static/css/button.scss */
  button:hover .circle {
    width: 100%; }
    /* line 100, static/css/button.scss */
    button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0); }
  /* line 106, static/css/button.scss */
  button:hover .button-text {
    color: #fff; }

@supports (display: grid) {
  /* line 113, static/css/button.scss */
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main ."; }
  /* line 120, static/css/button.scss */
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center; } }
