{% extends 'core/base.html' %}

{% block title %}Team үүсгэх | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Хяналтын самбар</a></li>
            <li><a href="{% url 'myaccount' %}">Аккаунт</a></li>
            <li class="is-active"><a href="{% url 'team:add' %}" aria-current="page">Team үүсгэх</a></li>
        </ul>
    </nav>
    
<div style="width:1000px; height:400px; background-color:white; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:20px; display:flex">
    <div class="columns-is-3" id="team-app">
        <div class="column is-4" style="width:400px">
            <h1 class="title">Team үүсгэх</h1>
            <form method="post" action="." @submit="validateForm" style="margin-top:50px">
                {% csrf_token %}

                <div class="field">
                    <b style="margin-left:10px;">Нэр</b>

                    <div class="control">
                        <input style="margin-top:10px; box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px; margin-bottom:10px" class="input is-rounded" type="text" name="title" id="id_title" v-model="title" placeholder="Нэрээ оруулна уу" >
                    </div>
                </div>

                <div class="notification is-danger" v-if="errors.length">
                    <p v-for="error in errors">[[ error ]]</p>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-info is-rounded" style="background-color:#41BEE7">Үүсгэх</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="/media/uploads/avatars/team.jpg" style="width:380px; height:340px; margin-left:150px; margin-top:10px; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; ">

</div> 
{% endblock %}
{% block scripts %}
<script>
    const TeamApp = {
        data() {
            return {
                title: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if (this.title) {
                    return true
                }

                e.preventDefault()

                this.errors.push('The title field is missing')
                
                return false
            }
        }
    }

    Vue.createApp(TeamApp).mount('#team-app')
</script>
{% endblock %}