<div class="container mt-3" style="width: 45%; font-size: 14px">
    <form method="POST" class="card p-3 mt-5" autocomplete="off">
      {% csrf_token %}
      <p>are u sure?</p>
      <a href="{% url 'myaccount' %}"> bolih </a>
      <input class="btn btn-primary mt-3" type="submit" value="Delete" />
    </form>
  </div>