<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Infinity</title>

        <style type="text/css">
            html {
                width: 100%;
            }

            body {
                width: 100%;
                font-family: Arial;
                font-size: 14px;
                background-color: #fff;
                color: #333;
            }

            a {
                color: #111;
            }
        </style>
    </head>

    <body>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td><h1>Infinity - Invitation to {{ team.title }}</h1></td>
            </tr>

            <tr>
                <td>
                    <p>"{{ team.title }}" Таныг урьсан байна</p>
                    <p>Доорх холбоос дээр дарж бүртгүүлэх эсвэл нэвтэрнэ үү.Таны багийн идэвхжүүлэх код: {{ code }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="{{ acceptation_url }}">Хүлээж авах</a>
                </td>
            </tr>
        </table>
    </body>
</html>