{% extends 'core/base.html' %}

{% block title %}Гишүүн урих | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Хяналтын самбар</a></li>
            <li><a href="{% url 'myaccount' %}">Аккаунт</a></li>
            <li><a href="{% url 'team:team' team.id %}">{{ team.title }}</a></li>
            <li class="is-active"><a href="{% url 'team:invite' %}" aria-current="page">Гишүүн урих</a></li>
        </ul>
    </nav>
    <div style="width:1000px; height:400px; background-color:white; border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:30px; display:flex">

    <div class="columns is-multiline" id="invite-app">
        <div class="column is-4" style="width:400px">
            <h1 class="title">Гишүүн урих</h1>

            <div class="notification is-danger" v-if="errors.length">
                <p v-for="error in errors">[[ error ]]</p>
            </div>

                <form method="post" action="." @submit="validateForm" novalite>
                    {% csrf_token %}

                    <div class="field">
                        <label style="margin-left:10px;">И-мэйл</label>

                        <div class="control">
                            <input type="email" name="email" style="margin-top:10px; box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 5px 0px; margin-bottom:10px" id="id_email" v-model="email" class="input is-rounded">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-info is-rounded">Гишүүн урих</button>
                        </div>
                    </div>
                </form>
       </div>
    </div>
    <img src="/media/uploads/avatars/team.jpg" style="width:380px; height:340px; margin-left:150px;  border-radius:15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; ">

    </div>
{% endblock %}

{% block scripts %}
<script>
    const InviteApp = {
        data() {
            return {
                email: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                if (this.validateEmail(this.email)) {
                    return true
                }

                this.errors = ['The e-mail is not valid']

                e.preventDefault()

                return false
            },
            validateEmail(email) {
                if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
                    return true
                }

                return false
            }
        }
    }

    Vue.createApp(InviteApp).mount('#invite-app')
</script>
{% endblock %}