{% extends 'core/base.html' %}

{% block title %}{{ team.title }} | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Хяналтын самбар</a></li>
            <li><a href="{% url 'myaccount' %}">Аккаунт</a></li>
            <li class="is-active"><a href="{% url 'team:team' team.id %}" aria-current="page">{{ team.title }}</a></li>
        </ul>
    </nav>
<div style="background-color:white; height:100%; width:80%; border-radius:15px; box-shadow:rgba(99, 99, 99, 0.2) 0px 10px 10px 0px; padding:30px" >   
    <div class="columns is-multiline" id="team-app">
        <div class="column is-4">
            <h1 class="title">{{ team.title }}</h1>

            <p class="tag is-danger is-light are-medium"><strong>Current plan: </strong>{{ team.plan.title }}</p>

            {% if team.plan.title != 'Free' %}
                <p class="tag is-danger is-light"><strong>Plan end date: </strong>{{ team.plan_end_date|date:"Y-m-d" }}{% if team.plan_status == 'active' %} (auto renewing){% endif %}</p>
            {% endif %}

            {% if request.user == team.created_by %}
                <a href="{% url 'team:invite' %}" class="button is-info " style="margin-top:20px">Хэрэглэгч урих</a>
                <!--<a href="{% url 'team:plans' %}" class="button is-success" style="border-radius:15px; margin-top:8px">Change plan</a>-->
            {% endif %}

            <hr>

            <h2 class="subtitle mt-6">Гишүүд</h2>
            <div class="columns">

            {% for member in team.members.all %}
                <div class="column">
                    <p class="button is-link is-light">{{ member.username }}</p>
                </div>
            {% endfor %}
             </div>

            <h2 class="subtitle mt-6">Илгээсэн хүсэлтүүд</h2>

            {% for member in invitations %}
                <p class="button is-primary is-light">{{ member.email }} - {{ member.date_sent|timesince }} ago</p>
            {% endfor %}
        </div>

        {% if team.created_by == request.user %}
            <div class="column is-12">
                <hr>
        
                <h3 class="subtitle">Үүсгэгч actions</h3>

                <a href="{% url 'team:edit' %}" class="button is-info">Edit team</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}