<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">

        <!-- Title -->
        <title>{% block title %}{% endblock %}Infinity</title>

        <!-- CSS files -->

        <link rel="stylesheet" type="text/css" href="https://cdn.delivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"
    </head>
    <style>
        li{ 
          text-decoration: none;
          list-style-type: none; 
          display: block; 
          margin-left: 10px;
          margin-right: 10px;  
      } 
      .left li a { 
          color: black; 
          text-decoration: none;
      } 
      .left ul { 
          display: flex; 
          flex-direction: row;  
      } 
      a:hover{ 
          color: #626262;  
      }
      .left{   
          position: fixed; 
          left:0px;    
          top:15%;  
          width:26%;  
          height: 100%;      
          background-color: #EEF1F4;    
          z-index:1;
      }  
      .left ul{  
          background-color: #fff; 
          display:flex; 
          flex-direction: column;    
          padding-bottom: 95%;   
          padding-top:10%; 
          border-radius:15px;  
          margin-left:25px; 
          margin-right:65px;    
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
      } 
      .left li{ 
          display: flex;  
          margin:5px;
          margin-left:25px;    
          padding-left:30px; 
          padding-top:3%; 
          max-width:250px;  
          height: 40px; 
          border-radius: 5px;
      } 
      .left li:hover{ 
          background-color: #ADD8E6;   
          transition: background-color 0.2s;
      }  
      #divider:hover{  
          background-color: #ffffff; 
      } 
      #divider hr{  
          color:black; 
      } 
      .left .bi{ 
          color:Light Black; 
          margin-right:10px;   
          margin-bottom: 3px;
      }
      .icons{ 
        position:absolute; 
        right: 10px; 
        top:10px; 
      }
      </style>
      <nav class="Top" style="background-color:#EEF1F4; height:100">
    <body style="height:100%; width:100%">
        <!-- Navbar -->
        <div id="navbar-app" style="position:fixed; width:100%; z-index:1">
            <nav class="navbar{% if request.user.is_authenticated %} is-dark{% else %} is-light{% endif %} " style="background-color:white;   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" >
                <div class="navheight:100%;bar-brand">
                    <a href="/" ><strong> <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100"
                        height="60"
                        fill="currentColor"
                        class="bi bi-infinity"
                        viewBox="0 0 16 16"
                        style="color: #74ebd5;  /* fallback for old browsers */
                        color: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
                        color: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */"
                      >
                        <path
                          d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916L8.656 7.75Z"
                        />
                      </svg></strong></a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'plans' %}" class="navbar-item">Plans</a>
                        {% else %}
                        

                            <div class="navbar-item" v-if="!trackingTime">
                                <div class="buttons">
                                    <a class="button is-success" style="border-radius:15px; background-color:#AC74F7" @click="startTimer()">
                                        <span class="icon"><i class="fas fa-stopwatch"></i></span>
                                        <span>Start</span>
                                    </a>
                                </div>
                            </div>

                            <div class="navbar-item" v-else>
                                <div class="buttons">
                                    <a class="button is-warning" style="border-radius:15px; background-color:#F6AEF1" @click="stopTimer()">
                                        <span class="icon"><i class="fas fa-stopwatch"></i></span>
                                        <span>[[ readableSeconds ]] (stop)</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        <div class="navbar-item">
                            <div class="buttons" >
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'myaccount' %}" class="button is-success" style="background-color:#41BEE7; border-radius:15px">
                                        <span class="icon"><i class="fas fa-user"></i></span>
                                        <span>
                                          {% firstof request.user.get_full_name request.user.username %}{% if active_team %} ({{ active_team.title }}){% endif %}
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                                    <a href="{% url 'login' %}" class="button">Log in</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="modal" class="{'is-active': showTrackingModal}">
                <div class="modal-background"></div>

                <div class="modal-card">
                    <div class="modal-card-head">
                        <p class="modal-card-title">Tracked time</p>
                    </div>

                    <div class="modal-card-body">
                        <p>You have tracked [[ readableSeconds ]]</p>
                    </div>

                    <footer class="modal-card-foot">
                        <button class="button is-primary" @click="addToTask()">Add to task</button>
                        <button class="button is-success" @click="addLater()">Add later</button>
                        <button class="button is-danger" @click="discardTimer()">Discard</button>
                    </footer>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <div class="left" >   
            <ul> 
              <li style="background-color: #ADD8E6"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
              </svg><a href="#">Home</a></li>   
              <li id="divider"><hr></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg><a href="{%url 'team:add'%}">Team үүсгэх</a></li>  
              <li><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
              </svg><a href="{% url 'project:projects' %}">Төсөл</a></li>   
              <li><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
              </svg><a href="{% url 'dashboard' %}" >Хяналтын самбар</a></li>  
              <!--<li><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-cloud-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
              </svg><a href="#">Файлын сан</a></li>   -->
            </ul> 
          </div>  
        <!-- Main -->
        <div style="margin-left:420px; padding-top:100px; z-index:999">
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-primary" data-timer="2s" style="width:300px; "><button class="delete"></button>{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
        <!-- End Main -->

        <!-- Footer -->
        <footer class="footer" style="background-color:#EEF1F4; margin-left:200px; margin-top:30px " >
            <div class="columns is-multiline" style="height:500px">
                <div class="column is-12 has-text-centered">
                    <p>Powered by Temuulen</p>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Scripts -->
        <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            var NavbarApp = {
                data() {
                    return {
                        seconds: {{ active_entry_seconds }},
                        trackingTime: false,
                        showTrackingModal: false,
                        timer: null,
                        entryID: 0,
                        startTime: '{{ start_time }}'
                    }
                },
                delimiters: ['[[', ']]'],
                methods: {
                    startTimer() {
                        fetch('/dashboard/projects/api/start_timer/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        .then((response) => {
                            return response.json()
                        })
                        .then((result) => {
                            this.startTime = new Date()
                            this.trackingTime = true

                            this.timer = setInterval(() => {
                                this.seconds = (new Date() - this.startTime) / 1000
                            }, 1000)
                        })
                    },
                    stopTimer() {
                        fetch('/dashboard/projects/api/stop_timer/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        .then((response) => {
                            return response.json()
                        })
                        .then((result) => {
                            this.entryID = result.entryID
                            this.showTrackingModal = true
                            this.trackingTime = false

                            window.clearTimeout(this.timer)
                        })
                    },
                    discardTimer() {
                        fetch('/dashboard/projects/api/discard_timer/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        .then((response) => {
                            this.seconds = 0
                            this.showTrackingModal = false
                        })
                    },
                    addLater() {
                        this.seconds = 0
                        this.showTrackingModal = false
                    },
                    addToTask() {
                        console.log('addToTask')
                        window.location.href = '/dashboard/projects/track_entry/' + this.entryID + '/'
                    }
                },
                mounted() {
                    if (this.seconds !== 0) {
                        this.trackingTime = true
                        this.timer = setInterval(() => {
                            this.seconds = (new Date() - new Date(this.startTime)) / 1000
                        }, 1000)
                    }
                },
                computed: {
                    readableSeconds() {
                        const d = Number(this.seconds);
                        const h = Math.floor(d / 3600);
                        const m = Math.floor(d % 3600 / 60);
                        const s = Math.floor(d % 3600 % 60);

                        const hDisplay = h > 0 ? h + (h == 1 ? "h, " : "h, ") : "";
                        const mDisplay = m > 0 ? m + (m == 1 ? "m, " : "m, ") : "";
                        const sDisplay = s >= 0 ? s + (s == 1 ? "s" : "s") : "";

                        return hDisplay + mDisplay + sDisplay; 
                    }
                }
            }

            Vue.createApp(NavbarApp).mount('#navbar-app')
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                  const $notification = $delete.parentNode;
              
                  $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                  });
                });
              });
        </script>
        {% block scripts %}
        {% endblock %}
        <!-- End Scripts -->
    </body>
</html>