
{% block content %}
<head>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
  </head>
  <body id="bg" style="background-image: url('{%static "images/index.jpg"%}');">
    <div class="Top">   
      <nav class="navbar">   
       <div class="container-fluid">    
         <ul>    
            <li><a href="#">Why infinity?</a></li>   
            <li><a href="#">About</a></li>   
            <li><a href="#">Contact</a></li>   
            <li><a href="#">Features</a></li> 
         </ul>  
         </div> 
         <div class="icons">
          <div class="btn-group"><li><a href="{% url 'login' %}">Login</a></li></div>
          <button type="button" class="btn btn-primary"><a href="{% url 'signup'%}">Get started</a></button>
         </div>
      </nav>  

    </div>
    <div class="text">
      <h1 style="text-align:center; width:45%">Remove barriers, find clarity, exceed goals</h1>
      <br>
      <h6 style="text-align:center; width:35%; margin-left:70px">Anything is possible with the most powerful work management software at your fingertips</h6>
      <button class="glow-on-hover " type="button" ><a href="{% url 'signup' %}">Get Started</a></button>
    </div>  
  </body>
{% endblock %}