<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Signup Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
        *,
        *:before,
        *:after{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color:  #f5f5f5;
        }
        .background{
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }
        .background .shape{
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }
        .shape:first-child{
            background: linear-gradient(
                #1845ad,
                #23a2f6
            );
            left: -80px;
            top: -80px;
        }
        .shape:last-child{
            background: linear-gradient(
                to right,
                #ff512f,
                #f09819
            );
            right: -30px;
            bottom: -80px;
        }
        form{
            height: 600px;
            width: 450px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }
        form *{
            font-family: 'Montserrat', sans-serif;
            color: #2a2929;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }
        form h3{
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;  
            color: #7456c0;
        }
        
        label{
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }
        input{
            display: block;
            height: 40px;
            width: 100%;
            background-color: rgba(66, 66, 66, 0.07);
            border-radius: 3px; 
            padding: 0 10px;
            margin-top: 2px;
            font-size: 14px;
            font-weight: 300;
        }
        ::placeholder{
            color: #aeaeae; 
        }
        button{
            margin-top: 14px;
            width: 100%;
            background-color: #7456c0;
            color: #ffffff;
            padding: 13px 0;
            font-size: 18px;    
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }
        .social{
          margin-top: 30px;
          display: flex;
        }
        .social div{
          background: red;
          width: 150px;
          border-radius: 3px;
          padding: 5px 10px 10px 5px;
          background-color: rgba(255,255,255,0.27);
          color: #eaf0fb;
          text-align: center;
        }
        .social div:hover{
          background-color: rgba(255,255,255,0.47);
        }
        .social .fb{
          margin-left: 25px;
        }
        .social i{
          margin-right: 4px;
        }

    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %} 
        <h3>Бүртгүүлэх хэсэг</h3>

        <label for="email">И-мэйл</label>
        <input type="email" name="username" id="id_username" class="input" v-model="username" placeholder="Enter your email">

        <label for="password1">Нууц үг</label>
        <input type="password" name="password1" id="id_password1" class="input" v-model="password1" placeholder="••••••••">


        <label for="password2">Нууц үг баталгаажуулах</label>
        <input type="password" name="password2" id="id_password2" class="input" v-model="password2" placeholder="••••••••">
        <button type="submit">Бүртгүүлэх</button>
        
        <a href="{% url 'login' %}" >Аль хэдийн бүртгүүлсэн</a>
    </form>
</body>
</html>